*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
body{
    background-color: rgb(241, 241, 238);
}
.container{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
     padding: 200px;
}
img{
    height: 100px;
    width: 400px;
    padding: 0px;
    margin: opx;
}
 
 .text{
    padding-left: 80px;
    font-size: 24px;
 }
 .box2{
    height: 400px;
    width: 400px;
    border: 2px solid grey;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
  
 }
 input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 23px;
 }

 button{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    /* background-color: rgba(16, 119, 208, 0.9); */
    color: white;
    text-align: center;
    text-align:center;
    font-size: 20px;
    padding: 23px;
    margin: 0%;
    
}
.login>button
{
    background-color: rgba(16, 119, 208, 0.9);
}
.button>button{
   background-color: rgb(19, 223, 19);
}

 form{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    gap: 20px;
     padding-top: 20px; 
      
            
 }
 a{
    padding-left: 80px;
    text-decoration: none;
    color: blue;
 }
 sup{
           color: antiquewhite;
        }
        box1
        {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            align-content: center;
        }