*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    margin: 0px auto;
    height: 500px;
    width: 700px;
    /* display: grid;
    grid-template-rows: repeat(7,1fr);
    grid-template-columns: repeat(7,1fr);
    border: 50px; */

}
nav{
    border: 2px solid black;
    border-radius: 10px;
    height: 70px;
    width: 500px;
}
table{
    
}
